@charset "UTF-8";

:root {
    --cor1: #C9AE91;
    --cor2: #937960;
    --cor3: #765B3D;
    --cor4: #845A32;
    --cor5: #1E1007;
}


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: #845A32;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login{
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;

    top: 50%;
    left: 50%;
    
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
    
    transform: translate(-50%,-50%);
    transition: width .4s, height .4s;
    transition-timing-function: ease;

}

section#login > div#imagem-e{
    background:#937960 url(../imagens/museu.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

form > div.campo{
    background-color:#937960 ;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form div.campo label {
    display: none;
}

div.campo i {
    color: white;

    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo input{
    background-color: #C9AE91;
    font-size: 1em;
    width:calc(100% - 50px);
    height: 92%;
    border: none;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    transform: translateY(-8px);
}

div.campo input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #845A32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #442410;    
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #845A32;
    text-decoration: none;
    color: white;
    margin-top: 2px;
    border-radius: 5px;
    padding-top: 7px;
}

form > a.botao:hover {
    background-color: #442410;
}

form > a.botao > i {
    font-size: 0.8em;
}
